# Ignore everything in this directory
*
# Except this file (and javascript files)
!.gitignore
!*.js
# Ignore all js files that are prefixed with an underscore (these are unminified source files)
_*.js